<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Katta yoshli mualliflar</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>Katta yoshli mualliflar</h1>
  <a style = "text-decoration: none" href="/home/">Bosh sahifa</a>
  <hr>
  {% for k in katta_yosh %}
  <p>{{ k.id }}. {{ k.ism }} <br>
  Tug'ilgan sana: {{ k.t_sana }}
  </p>
  {% endfor %}
</body>
</html>