<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitob | O'chirish | Tasdiqlash</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <p>{{ kitob.nom }}ni o'chirasanmi?</p>
  <button style ='padding: 10px; border: none; border-radius: 50px; background-color: aqua'>
    <a style = 'text-decoration: none' href = '/kitob/{{kitob.id}}/delete/'>Ha</a>
  </button>
  <button style ='padding: 10px; border: none; border-radius: 50px; background-color: aqua'>
    <a style = 'text-decoration: none' href = '/kitoblar/'>Yo'q</a>
  </button>
</body>
</html>