<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitoblilar ro'yxati</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Kitoblilar</h1>
    <a style = "text-decoration: none" href="/home/">Bosh sahifa</a>
    <hr>
    {% for k in kitoblilar %}
    <p>{{ forloop.counter }}.
        {{ k.ism }}
    </p>
    {% endfor %}
</body>
</html>