<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muallif | {{muallif.ism}}</title>
      <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>{{muallif.ism}} ma'lumoti</h1>
  <a style = "text-decoration: none" href="/home/">Bosh sahifa</a>
  <br>
  <a style = "text-decoration: none" href="/mualliflar/">Mualliflar</a>
  <hr>
  <p>Jins: {{muallif.jins}} </p>
  <p>Kitob soni: {{muallif.kitob_soni}} </p>
  <p>T_sana: {{muallif.t_sana}} </p>
  <p>Tirik: {{muallif.tirik}} </p>
</body>
</html>