<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record | O'chirish | Tasdiqlash</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <p>Rostdan ham {{record.talaba}} - {{record.kitob}} ni o'chirmoqchimisan?</p>
  <button style ='padding: 10px; border: none; border-radius: 50px; background-color: aqua'>
    <a style = "text-decoration: none" href = '/record/{{record.id}}/delete/'>Ha</a>
  </button>
  <button style ='padding: 10px; border: none; border-radius: 50px; background-color: aqua'>
    <a style = "text-decoration: none" href = '/recordlar/'>Yo'q</a>
  </button>
</body>
</html>