<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record | {{ record.talaba }}</title>
      <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>{{recordlar.talaba}} ma'lumoti</h1>
  <a style = "text-decoration: none" href="/home/">Bosh sahifa</a>
  <br>
  <a style = "text-decoration: none" href="/talabalar/">Talabalar</a>
  <hr>
  <p>Kitob: {{recordlar.kitob}} </p>
  <p>Kutubxonachi: {{recordlar.kutubxonachi}} </p>
  <p>Olingan_sana: {{recordlar.olingan_sana}} </p>
  <p>Qaytarilgan_sana: {{recordlar.qaytarilgan_sana}} </p>
  <p>Qaytardi: {{recordlar.qaytardi}} </p>
</body>
</html>