<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tirik mualliflar kitoblari</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6
        }
         h2 {
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>Tirik mualliflar kitoblari</h1>
  <a style = "text-decoration: none" href="/home/">Bosh sahifa</a>
  <hr>
  {% for t in tirik_kitob %}
  <p>{{ t.id }}.Kitob:"{{ t.nom }}" <br>
    Muallif: {{ t.muallif.ism }}
  </p>
  {% endfor %}
</body>
</html>